<section>
	{% for post in postslist %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.image %}
				<p>
				<a href="{{ post.url | url }}">
					<img src="{{ post.data.image }}" alt="{{ post.data.title }}">
					</a>
				</p>
			{% endif %}
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
