---
layout: layouts/base.njk
section: hats
permalink: /hats/index.html
---

{{ content | safe }}

{% set postslist = collections.post | sort(false, false, 'data.order') %}
{% include "components/postslist.njk" %}
