---
layout: layouts/base.njk
section: home
---

<div class="hero">
  {% for post in collections.post | sort(false, false, 'data.order') %}
    {% if post.data.image %}
      <div class="hero-slide" style="background-image: url('{{ post.data.image }}')"></div>
    {% endif %}
  {% endfor %}
  <div class="hero-content">{{ content | safe }}</div>
</div>