---
layout: layouts/base.njk
section: post
---

<article>

  {% if image %}
    <img src="{{ image }}" alt="{{ title }}">
  {% endif %}

  {{ content | safe }}

  {% if price %}
    <p class="price">{{ price }}</p>
  {% endif %}

</article>

<nav>
  <a class="back-link" href="{{ '/hats/' | url }}"><span class="back-icon">☜</span> Back to all Hats</a>
</nav>
